---
import CaretDown from "./icons/Caret-down.astro";
import CaretUp from "./icons/Caret-up.astro";

const { service } = Astro.props;
---

<div class={`service-card-container ${Astro.props.class}`}>
  <input
    type="checkbox"
    id=`dropdown-button-${service.id}`
    class="dropdown-button"
  />
  <label for=`dropdown-button-${service.id}` class="service-title">
    <span> {service.title}</span>
    <CaretDown class="caret-down" />
  </label>

  <!-- Dropdown menu -->
  <label
    for=`dropdown-button-${service.id}`
    class={`service-description ${Astro.props.class}`}
  >
    <ul>
      {service.description.map((item: string) => <li>{item}</li>)}
    </ul>
    <CaretUp class="caret-up" />
  </label>

  <img
    data-modal-target=`default-modal-${service.id}`
    data-modal-toggle=`default-modal-${service.id}`
    class="service-image"
    src={service.url}
    alt=""
  />
</div>

<!-- Main modal -->
<div
  id=`default-modal-${service.id}`
  tabindex="-1"
  aria-hidden="true"
  class="modal-container hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="modal-content relative">
    <!-- Modal content -->
    <img src={service.url} alt="" />
  </div>
</div>

<style>
  .service-card-container {
    width: 430px;
    height: 240px;
    position: relative;
    margin-top: 24px;
    border-radius: 10px;
    user-select: none;
  }

  .service-title {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    color: #fff;
    text-align: center;
    font-family: "Ruberoid-semibold";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px; /* 250% */
    cursor: pointer;

    span {
      height: 40px;
    }
  }

  .dropdown-button {
    display: none;

    &:checked + .service-title + .service-description {
      display: block;
    }

    &:checked + .service-title + .caret-up,
    &:checked + .service-title ~ .caret-up {
      display: block;
    }

    &:checked + .service-title .caret-down,
    &:checked + .service-title ~ .caret-down {
      display: none;
    }
  }

  .caret-down {
    display: block;
  }

  .caret-up {
    margin-inline: auto;
    margin-top: 20px;
  }

  .service-description {
    width: 430px;
    display: none;
    position: absolute;
    padding: 0px 15px 10px;
    color: #fff;
    border-radius: 0px 0px 10px 10px;
    font-family: "plusjakartasans-light";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px; /* 125% */
    z-index: 1;
    cursor: pointer;

    ul {
      width: fit-content;
      list-style: disc;
      margin-inline: auto;
    }
  }

  .service-image {
    width: 430px;
    max-height: 180px;
    position: absolute;
    border-radius: 0 0 8px 8px;
    bottom: 0;
  }

  .modal-container {
    width: 100%;
    height: 100%;
    background: rgba(10, 36, 76, 0.8);
  }

  .modal-content {
    width: 1350px;
    height: 600px;
    padding: 30px;
    border-radius: 10px;
    background-color: white;

    img {
      border-radius: 10px;
    }
  }

  @media (max-width: 768px) {
    .service-card-container {
      width: 163px;
      height: 95px;
      margin-top: 0px;
      border-radius: 4px;
    }

    .service-title {
      padding-top: 5px;
      border-radius: 4px;
      font-size: 8px;
      height: 27px;

      span {
        height: 10px;
        line-height: normal;
      }
    }

    .caret-down {
      width: 6px;
    }
    .caret-up {
      margin-top: 10px;
      width: 6px;
    }

    .service-description {
      width: 163px;
      height: 55px;
      border-radius: 0px 0px 4px 4px;
      font-size: 6px;
      line-height: 10px; /* 125% */
    }
  }
</style>
